@black:        #040404;
@darkGrey:     #161616;
@medGrey:      #292929;
@darkGreen:    #35581e;
@darkMedGreen: #457426;
@medGreen:     #56902f;
@lightGreen:   #66ac37;

body {
	background-color: @medGrey;
}